<hr>
<h2>Lifecycle methods testing</h2>
<p>Each child has applied lifecycle methods:</p>
<ul>
    <li>ngOnChanges</li><li>ngOnInit</li><li>ngDoCheck</li><li>ngDestroy</li>
</ul>
<p>A parent has applied</p>
<ul>
    <li>ngAfterContentInit</li><li>ngAfterChontentChecked</li><li>ngAfterViewInit</li><li>ngAfterViewChecked</li>
</ul>        
<p>Above methods will log content to the logging pane</p>


    <div class="row">
    <div class="buttons- span3">
        <div class="btn btn-success" (click)="appendChild()">Add child</div>
        <div class="btn btn-danger" (click)="popChild()">Remove last child</div>
        
        <div class="children-container">
            <span *ngFor="let child of children" class="center">
                <lifecycle-child  [myNumber]="child.id" [value]="child.value"
                (removeMe)="removeChild($event)">
                </lifecycle-child>
                <span class="pointer button-round green center" (click)="changeChildValue(child.id)">+</span>
            </span>
        </div>
    </div>


</div>
