.button-round{
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    position: relative;
    margin:  5px
}

.border{
    border: solid black thin;
    border-radius: 5px;
    margin: 5px;
    height: 3.75rem;
    padding: 5px;
}

.red {background-color: red; color: white;}