<hr>
<h1>Testing components in jasmine</h1>
<p>These are components that are given as examples on my
    <a href="https://gudmar.github.io/theoryCorner/" target="_blank">theoryCorner</a> web page
</p>
<h4>Example 1:</h4>
<p>A component that loads a content from the async service, and on button click the content will be 
    changed with the same service usage
</p>
<load-change-content></load-change-content>

<hr>
<h4>Example 2:</h4>
<p>
    Select a color and switch on/off its red, green, blue ingredience.
    The color filter is a service.
</p>

<jasmine-test></jasmine-test>
<hr>

