@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

*{
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
    align-content: center;
    text-justify: center;
}

.wrapper{
    position: relative;
    width: 80%;
    border: solid thin #555;
    border-radius: 10px;
    background-color: #888;
    color:yellow;
}

.p-20{
    padding:20px;
}


.editable{
    position: relative;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    min-width: 50px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.bg-dark{
    background-color: black!important;
}
.bg-info{
    background-color: blue!important;
}
.m-2{
    margin: 5px!important;
}

.pointer{cursor: pointer;}
