form{
.ng-dirty{
    box-shadow: inset 0px 0px 5px -1px #000000;
}

.ng-touched{
    border-color: #000;
}
.ng-untouched{
    background-color: #cfc;
}
.ng-invalid:after{
    content: 'This field is required';
    background-color: red;
    color:white;
    bottom:0;
}
.ng-invalid{
    background-color: #fcc;
}
.ng-pristine{
    //oposite to dirty
    background-color: #cfc;
}
}
